@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.gameImage {
    width: 15rem;
    height: 20rem;
    border: 1px solid grey;
    box-shadow: 5px 4px #88888871;
}

.screenshots {
    display: flex;
    flex-direction: row;
}

.screenshot {
    width: 20rem;
    height: 15rem;
    margin: 1rem;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 2rem;
}

.game {
    margin-bottom: 1rem;
    flex-direction: row;
    height: 11rem;
    margin-left: 7rem;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #f3f3f3ea;
    max-width: 100rem;
    box-shadow: 2px 2px #cccccc71
}

.coverPhoto {
    text-align: left;
    height: 10rem;
    width: 8rem;
    border: 1px solid grey;
    box-shadow: 5px 4px #88888871;
}

.titleDetails {
    position: relative;
    bottom: 10.5rem;
    left: 9rem;
}

.gameDescription {
    height: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 90rem;
}

.dropdownButtons {
    position: relative;
    top: 2.2rem;
}

.imageDetails {
    display:inline-block;
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.938) 80%); /* W3C */
  
}

.gamePhoto {
  position:relative;
  z-index:-1;
  display:block;
  width: 120rem;
  height: 57rem;
}

.title {
    /* position: absolute;
    top: 1.5rem;
    left: 80rem; */
    color: rgba(0, 0, 0, 0.918);
    font-size: 28pt;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3rem;
    margin: 1rem;
}

.date {
   /*  position: absolute;
    top: 10rem;
    left: 80rem; */
    color: rgba(0, 0, 0, 0.918);
    font-size: 14pt;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.theme {
    /* position: absolute;
    top: 7rem;
    left: 80rem; */
    color: rgba(0, 0, 0, 0.918);
    font-size: 12pt;
    opacity: 0.8;
    margin-left: 1rem;
}

.genre {
   /*  position: absolute;
    top: 8rem;
    left: 80rem; */
    color: #000000ea;
    font-size: 12pt;
    margin-left: 1rem;
}

.description {
    /* position: absolute;
    top: 12rem;
    left: 80rem; */
    color: rgba(0, 0, 0, 0.808);
    font-size: 13pt;
    max-width: 33rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    overflow-y: scroll;
}

.pageNumber {
    background: none;
    border: none;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.pageNumber:focus {
    color: purple;
}

.newGamesButton {
    width: 8rem;
}

.profilePic {
    width: 5rem;
    height: 5.8rem;
    border: 1px solid grey;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.review {
    margin: 1rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.platformLogo {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.image-gallery {
    width: 75rem;
    margin-left: 2rem;
}

.allDetails {
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
    font-family: 'Roboto Condensed', sans-serif;
    width: 35rem;
    overflow: hidden;
    max-height: 45rem;
}

.topHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(247, 247, 247);
}

.review {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(207, 207, 207);
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

.reviewLeft {
    margin-right: 1rem;
}

.reviewTitle {
    margin-left: 1rem;
}

.reviewButton {
    margin-left: 1rem;
}

.reviewButtons {
    margin-top: 1rem;
}

.reviewRight {
    margin-bottom: 0.3rem;
    margin-top: 0.8rem;
}

.reviewName {
    font-size: 10pt;
}

.searchBar {
    text-align: center;
    margin: 1rem;
}

.pageNumbers {
    text-align: center;
}

.buyNowButtons {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
}

.buyNow {
    width: 7.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.platformBuyNow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdowns {
    margin-left: 1rem;
}

.wishlistLibButtons {
    position: absolute;
    left: 9rem;
    top: 52rem;
}

.buy-Now {
    width: 7.5rem;
    height: 3rem;
    margin-left: 1rem;
}

.platformDropdown {
    max-width: 7.5rem;
}
