@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.gameImage {
    width: 15rem;
    height: 20rem;
    border: 1px solid grey;
    box-shadow: 5px 4px #888888;
}

.screenshots {
    display: flex;
    flex-direction: row;
}

.screenshot {
    width: 20rem;
    height: 15rem;
    margin: 1rem;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.game {
    margin-bottom: 1rem;
    flex-direction: row;
    height: 10rem;
    margin-left: 1rem;
}

.coverPhoto {
    text-align: left;
    height: 10rem;
    width: 8rem;
    border: 1px solid grey;
    box-shadow: 5px 4px #888888
}

.titleDetails {
    position: relative;
    bottom: 10.5rem;
    left: 9rem;
}

.gameDescription {
    height: 4rem;
}

.dropdownButtons {
    position: relative;
    top: 3rem;
}

.imageDetails {
    display:inline-block;
  background: linear-gradient(to left, transparent, black 80%); /* W3C */
  
}

.gamePhoto {
  position:relative;
  z-index:-1;
  display:block;
  width: 120rem;
  height: 57rem;
}

.title {
    position: absolute;
    top: 4rem;
    left: 1rem;
    color: rgba(255, 255, 255, 0.918);
    font-size: 28pt;
    opacity: 0.8;
    text-shadow: 3px 1px rgb(105, 104, 104);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3rem;
}

.date {
    position: absolute;
    top: 9rem;
    left: 1rem;
    color: rgba(255, 255, 255, 0.918);
    font-size: 12pt;
    opacity: 0.8;
}

.description {
    position: absolute;
    top: 11rem;
    left: 1rem;
    color: rgba(255, 255, 255, 0.808);
    font-size: 12pt;
    max-width: 20rem;
    opacity: 0.5;
}

.pageNumber {
    background: none;
    border: none;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.pageNumber:focus {
    color: purple;
}

.newGamesButton {
    width: 8rem;
}

.profilePic {
    width: 5rem;
    height: 5rem;
}

.review {
    margin: 1rem;
}